@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #58deff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 1.25rem;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  border-radius: 1.25rem;
  outline: none;
  background: none;
  border: 1px solid #cacaca;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  border-radius: 1rem;
  margin-left: 0.75rem;
  background: #d3ad02;
  color: #000000;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0066c5;
  color: #000000;
  padding: 0.75rem 1rem;
  border-radius: 1.25rem;
  margin-bottom: 1.24rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}

.completed {
  font-size: 1.25rem;
  font-weight: 520;
  color: #00ff00;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
.delete-icon {
  color: darkred;
}
